body {
	background-color: white;
	color: black;
}
.fieldHolder {
	width: 100%;
	padding: 0.3em;
}
.fieldHolder label {
	display: block;
	font-weight: 700;
}
fieldset {
	padding-left: 0;
	border-right: none;
	border-bottom: none;
	border-top: none;
	margin: 1em auto;
}
legend {
	font-size: 120%;
	font-weight: 700;
}
button[disabled] {
	border: thin dotted #FFFFFA;
	background-color: #FEFEFE;
	color: #EEEEEE;
}
.hide {
	display: none;
}
.phoneNumber {
	margin: 0.3em auto;
}
.phoneNumber label {
	display: inline-block;
	margin: auto 0.5em;
	font-weight: bold;
}
.phoneNumber button:not([disabled]) {
	border-style: groove;
	line-height: 150%;
	border-radius: 0.5em;
	display: inline-block;
	height: 100%;
	margin: 0 0.3em;
	width: 2em;
	text-align: center;
}
